{%extends 'base.html'%}

 {% block content %}

 <div class="container">
    
   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="" >
   </div>

   <div class="row">
     <h2>{{image.name}}</h2>
   </div>

   <div class="row">
     <div class="well">
     <p>Description:{{image.description}}</p>
   

   
     <p>Location: {{image.location}}</p>
        <p>Category: {{image.category}}</p>
        </div>
   </div>
   <input type="text" value="https://galleryper.herokuapp.com/image/{{images.id}}" id="myInput">

 
   <button class="btn btn-success" onclick="myFunction()">Copy Link </button>
   
 </div> 
  
</div>     

 
</div> 
</div>
<script>
function myFunction() {
var copyText = document.getElementById("myInput");
copyText.select();
document.execCommand("Copy");
alert("Copied the link: " + copyText.value);
}
</script>


 
 
 {% endblock %}
